:root{
  --blue: rgba(1, 186, 239, 1);
  --green: #268D32;
  --red: rgba(178, 55, 55, 1);
  --black-grey: rgba(56, 56, 56, 1);
  --black: rgba(21, 8, 17, 1);
  --grey: #616163;
  --white: rgba(227, 231, 237, 1);
}

ul{
  padding: 0;
}
body{

  background: var(--black-grey);
  overflow-x: hidden;
  font-family: 'Raleway';
}

header{

  color: var(--white);
  background:var(--black);
  padding:.5em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: .5em 1em;
  -webkit-align-items: center;
          align-items: center;
}

.user-info{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
    font-family: 'Open Sans Condensed';
}

.user-info h2{
  margin: 0;
}

header img{
  border-radius:50%;
  max-width:3em;
  margin-right: 1em;
}

header h2,
.redirect-page h2,
.redirect-page h3{
  color:var(--white);
}

.playlists,
.youtube-playlist{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap:wrap;
          flex-wrap:wrap; 
  -webkit-justify-content: center; 
          justify-content: center;
}

.playlist,
.youtube-video{
  display: -webkit-flex;
  display: flex;
  border:solid 2px var(--black-grey);
  width:100%;
  margin:.5em;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  color:var(--white);
    transition:ease-in-out .4s all;
  -webkit-align-content: center;
          align-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.playlist{
  max-width:500px;
}

.youtube-video:hover,
.playlist:hover{
  border:solid 2px var(--grey);
  -webkit-filter:brightness(110%);
          filter:brightness(110%);
}

.playlist-title{
  width: 100%;
}

.playlist-title p{
  margin: 0;
  font-family: 'Open Sans Condensed';
  font-size:1.2em;
}

.playlist-image-container{
  min-width:40%;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.playlist img{
  width:100%;
}

.playlist h3{
  width:100%;
  margin:0;
  font-size:2em;
  text-align: left;
  overflow-x: auto;
}

.playlist-info{
  box-sizing: border-box;
  padding: 1em;
  height:100%;
  min-width: 60%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  -webkit-align-content: center;
          align-content: center;
  -webkit-justify-content: space-evenly;
          justify-content: space-evenly;
}

.button-main{
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Raleway';
  color:var(--white);
  background: var(--green);
  border:solid 2px var(--green);
  padding: .5em 1em;
  transition:ease-in-out .4s all;
}

.button-main:hover{
  cursor: pointer;
  border: solid 2px var(--white);
  -webkit-filter:brightness(120%);
          filter:brightness(120%);
}

.button-main:active{
  border: solid 2px var(--white);
  -webkit-filter:brightness(170%);
          filter:brightness(170%);
  color:#616163;
}

.main-landing{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: center;
          align-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.main-landing p{
  color:var(--white);
  font-family: 'Open Sans Condensed';
  text-align: center;
}

.main-landing p:first-of-type{
  font-size:3.5em;
}

.big{
  font-size:3em;
}

.sign-in-main{
  width: 80%;
  padding: 1em;
  font-size: 2em;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.sign-in-main img{
  margin: 0 .5em;
}

.youtube-playlist{
  padding: 0;
}

.youtube-video{
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.youtube-video div{
  text-align: center;
  width:90%;
}


.youtube-video img{
  width: 50%;
}

.youtube-video .channel{
  font-family: 'Open Sans Condensed';
}

.youtube-video .description{
  text-overflow: ellipsis;
}

.youtube-video h3{
  font-size:1.35em;
}

.playlist-title-input{
  text-align: center;
  width: 80%;
  margin:0 10%;
  background: 0;
  color:var(--white);
  border:none;
  border-bottom:solid 2px var(--white);
  font-size:3em;
  font-weight: bolder;
  font-family:'Open Sans Condensed';
  transition:ease-in-out .4s all;
  opacity: .8;
}

.playlist-title-input:hover{
  opacity: 1;
  cursor:pointer;
}

.playlist-title-input:active{
  color:var(--green);
}

.create{
  width: 90%;
  margin: 0 5%;
  margin-top: 1em;
  padding: .5em;
  font-size: 1.5em;
  font-family: 'Open Sans Condensed';
  -webkit-animation:glow ease-in-out 5s infinite;
          animation:glow ease-in-out 5s infinite;
}

.loader{
  box-sizing: border-box;
  border-radius:50%;
  border: solid .5em var(--white);
  border-top:solid .5em var(--green);
  border-bottom: solid .5em var(--green);
  width: 5em;
  height:5em;
  -webkit-animation:spin ease-in-out 1s infinite;
          animation:spin ease-in-out 1s infinite;
}

.loading-screen{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-align-content: center;
          align-content: center;
  min-height:50vh;
}

.loading-screen .youtube-video{
  margin: 1em 0;
  width: 90%;
}

.redirect-page{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: center;
          align-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.redirect-page .button-main{
  width:70%;
  text-align: center;
}

.redirect-page h2{
  font-size:2.5em;
}

.redirect-page h3{
  font-size:1.5em;
}

@-webkit-keyframes spin {
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes glow{
  0%{
    -webkit-filter:brightness(100%);
            filter:brightness(100%);
  }
  50%{
    -webkit-filter:brightness(110%);
            filter:brightness(110%);
  }
  100%{
    -webkit-filter:brightness(100%);
            filter:brightness(100%);
  }
}

@keyframes glow{
  0%{
    -webkit-filter:brightness(100%);
            filter:brightness(100%);
  }
  50%{
    -webkit-filter:brightness(110%);
            filter:brightness(110%);
  }
  100%{
    -webkit-filter:brightness(100%);
            filter:brightness(100%);
  }
}

@media screen and (min-width:600px){
  header{
    -webkit-flex-direction: row;
            flex-direction: row;
  }
  .create{
    width: 25%;
    margin: 0 65%;
    margin-top: 1em;
  }
  
  .youtube-video{
  -webkit-flex-direction: row;
          flex-direction: row;
}

.youtube-video div{
  width:70%;
  text-align: left;
}

.youtube-video img{
  width: 20%;
}
}